.app-container {
  display: flex;
  height: 98vh; 

  .sidebar {
    flex: 0 0 17vh;
    height: 100%;
    background: #2b2c2d; 
    color: white;
    position: relative;

    
    border-radius: 8px 8px 8px 8px;

    .menu {
      .menu-item {
        padding: 10px;
        border-radius: 8px 8px 8px 8px;
        margin: 5px 5px;

        &:hover {
          background: #3c3d3e; 
        }

        &.active {
          background: #414345; // An accent color for the active menu item
        }
      }
    }

    .bottom-of-sidebar {
      position: absolute;
      bottom: 0;
      left: 0; 
      width: 100%; 
      margin-bottom: 10px;

      .credits {
        display: block; 
        color: #f0f0f0;
        text-align: center; 
        font-weight: bold;
        width: 100%;
        font-size: 1rem;
      }
    }

    .logo {
      padding: 15px;
      font-weight: bold;
      margin-bottom: 5px;
    }

    .logo:hover {
      filter: drop-shadow(0 0 2em #24c8db);
    }
  }

  .main-content {
    flex: 1;
    padding: 0 20px;
    background: #313334; 
    color: #f0f0f0; 

    .section {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      background: #2b2c2d;
      padding: 10px;
      border-radius: 8px;

        > * {
            padding-right: 10px;
        }

      .form-group {
        width: 100%;
      }

      .input-blur-effect {
        transition: filter 0.3s; // Smooth transition for the blur effect

        &:not(:focus) {
          filter: blur(2px); // Apply a blur filter when the input is not focused
        }
      }

      input {
        color: #f0f0f0; 
        background: #414345; 
        border: 1px solid #515556; 
        padding: 10px;
        margin-right: 10px;
        border-radius: 4px; 

        
        &[type="checkbox"] {
          background: transparent; 
          border: none; 
          width: auto;
          margin-right: 5px;
        }

        
        &[type="text"], &[type="number"], &[type="password"], &[type="email"], &[type="search"] {
          width: 100%; 
          box-sizing: border-box; 
        }

        
        &:focus {
          outline: none; 
          border-color: #616263; 
          box-shadow: 0 0 5px rgba(255, 255, 255, 0.2); 
        }
      }

      label {
        display: block; 
        margin-bottom: 5px; 
        color: #f0f0f0; 
      }

      select {
        width: 100%; 
        padding: 10px; 
        border-radius: 4px; 
        border: 1px solid #515556; 
        background-color: #414345; 
        color: #f0f0f0; 
        appearance: none; 
        -webkit-appearance: none; 
        -moz-appearance: none; 

        &:focus {
          outline: none; 
          border-color: #616263; 
          box-shadow: 0 0 5px rgba(255, 255, 255, 0.2); 
        }
      }

      
      select::-ms-expand {
        display: none; 
      }
      select:after {
        content: '\25BC'; 
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        color: #f0f0f0; 
        pointer-events: none; 
      }

      .commands-table {
        width: 100%;
        border-collapse: collapse; // Ensures no double borders

        th, td {
          text-align: left;
          padding: 8px; // Adjust padding as needed
          color: #f0f0f0; // Light color text for contrast on dark backgrounds
        }

        th {
          background-color: #414345; // Darker header background color
        }

        td {
          background-color: #313334; // Darker cell background color
          border-top: 1px solid #515556; // Border color that fits the dark theme
        }

        tr:nth-child(odd) {
          background-color: #2b2c2d; // Slightly different shade for zebra striping
        }

        th:first-child, td:first-child {
          width: 50px; // Set a smaller width for the 'Enabled' column
          text-align: center; // Center the content for aesthetics
        }

        input[type="checkbox"] {
          margin: auto; // Center the checkbox
          display: block;
        }
      }

    }
  }
}

.settings-container {
  display: flex;
  flex-direction: column;
  height: 75vh;
  width: 100%;
  gap: 20px;

  overflow-x: hidden; // No horizontal scrollbar
  overflow-y: auto; // Vertical scrollbar if needed

  &::-webkit-scrollbar {
    width: 10px; // Width of the scrollbar
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1; // Color of the track
    border-radius: 10px; // Rounded corners for the track
  }

  &::-webkit-scrollbar-thumb {
    background: #888; // Color of the scrollbar thumb
    border-radius: 10px; // Rounded corners for the thumb

    &:hover {
      background: #555; // Color of the thumb on hover
    }
  }
}

.run-status-container {
    display: flex;
    flex-direction: column;
    height: 15vh;
    width: 100%;
    gap: 20px;

  .status-label {
    font-weight: bold;
    margin-right: 5px;
  }

  .status-indicator {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: red; /* Default to stopped */
    margin-right: 10px;
  }

  /* This will be toggled via class binding depending on the status */
  .status-indicator.running {
    background-color: green;
  }

  .start-stop-button {
    background-color: #414345; /* Button background */
    border: 1px solid #515556; /* Button border */
    color: white;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    font-size: 1rem;
    transition: background-color 0.3s;
  }

  .start-stop-button:hover {
    background-color: #3c3d3e; /* Hover state */
  }

  .start-stop-icon {
    margin-right: 5px;
  }

  /* Tooltip container */
  .tooltip {
    position: relative;
    display: inline-block;
  }

  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
}
