<div class="app-container">
    <div class="sidebar">
        <div class="logo">
            <img src="/assets/logo.svg" alt="Source Cmd Parser"/>
        </div>

        <div class="menu">
            <div class="menu-item" [ngClass]="isActive('settings') ? 'active' : ''">Settings</div>
            <div class="menu-item" [ngClass]="isActive('logs') ? 'active' : ''">Log</div>
        </div>

        <div class="bottom-of-sidebar">
            <div class="credits">
                Made By
            </div>
            <div class="credits">
                /home/fozie
            </div>
        </div>
    </div>

    <div class="main-content">
        <div class="section">
            <div class="settings-container" *ngIf="isActive('settings')">
                <div class="form-group">
                    <label for="file-path">File Path</label>
                    <input type="text" id="file-path" [(ngModel)]="config.file_path">
                </div>

                <div class="form-group">
                    <label for="command-timeout">Command Timeout (Seconds):</label>
                    <input type="number" id="command-timeout" [(ngModel)]="config.command_timeout">
                </div>

                <div class="form-group">
                    <label for="openapi-api-key">OpenAI API Key:</label>
                    <input type="text" id="openapi-api-key" class="input-blur-effect" [(ngModel)]="config.openai_api_key">
                </div>

                <div class="form-group">
                    <label for="owner">Your Username:</label>
                    <input type="text" id="owner" [(ngModel)]="config.owner">
                </div>

                <div class="form-group">
                    <label for="game-selector">Game Selector:</label>
                    <select id="game-selector" [(ngModel)]="config.parser">
                        <option>Counter Strike Source</option>
                        <option>Counter Strike 2</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="run-status-container">

            </div>
        </div>
    </div>
    <!--  <div class="container">-->
    <!--    <form>-->
    <!--      <div class="container">-->

    <!--        <div class="form-group">-->
    <!--          <label for="file-path">File Path:</label>-->
    <!--          <input type="text" id="file-path" [(ngModel)]="config.file_path" name="filePath">-->
    <!--        </div>-->


    <!--        <div class="form-group">-->
    <!--          <label for="command-timeout">Command Timeout (Seconds):</label>-->
    <!--          <input type="number" id="command-timeout" [(ngModel)]="config.command_timeout" name="commandTimeout">-->
    <!--        </div>-->

    <!--        <div class="form-group">-->
    <!--          <label for="owner">Owner:</label>-->
    <!--          <input type="text" id="owner" [(ngModel)]="config.owner" name="owner">-->
    <!--        </div>-->

    <!--        <div class="form-group">-->
    <!--          <label for="game-selector">Game Selector:</label>-->
    <!--          <select id="game-selector" [(ngModel)]="config.parser" name="gameSelector">-->
    <!--            <option>Counter Strike Source</option>-->
    <!--            <option>Counter Strike 2</option>-->
    <!--          </select>-->
    <!--        </div>-->

    <!--      </div>-->

    <!--      <button (click)="toogle()">{{toggleButtonName}}</button>-->

    <!--    </form>-->
    <!--  </div>-->

</div>
